<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Búsqueda</title>
</head>
<body>
<h1>Buscar Usuario</h1>

<form action="/buscar" method="get">
    <input type="text" name="username" placeholder="Ingresa el nombre de usuario" />
    <button type="submit">Buscar</button>
</form>

<!-- Mostrar mensaje si el parámetro no existe o si el usuario no es encontrado -->
<div th:if="${mensaje != null}">
    <p th:text="${mensaje}"></p>
</div>

<!-- Mostrar la información del usuario si se ha encontrado -->
<div th:if="${usuario != null}">
    <h2>Usuario Encontrado</h2>
    <p><strong>Username:</strong> <span th:text="${usuario.username}"></span></p>
    <p><strong>Email:</strong> <span th:text="${usuario.email}"></span></p>
</div>
</body>
</html>
