<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

        <div th:if="${nombre != null && edad != null}">
            <h2>Nombre:<span th:text="${nombre}"></span></h2>
            <h2>Edad:<span th:text="${edad}"></span></h2>
        </div>

        <div th:unless="${nombre != null && edad != null}">
            <h2>No hay datos que mostrar</h2>
        </div>


        <div th:if="${personas != null}">
            <div th:if="${personas.size() >0}">
                <ul th:each="persona : ${personas}">
                    <li th:text="${persona}"></li>
                </ul>
            </div>
    
            <div th:unless="${personas.size() >0}">
                <h2>No hay personas que mostrar</h2>
            </div>
        </div>

    
    
</body>
</html>