<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form th:action="@{/post}" method="POST">
        <input type="text" name="nombre" placeholder="Nombre" autocomplete="off"><br>
        <input type="text" name="email" placeholder="Email" autocomplete="off"><br>
        <input type="password" name="password" placeholder="Contraseña" autocomplete="off"><br>

        <button type="submit">Guardar usuario</button>



    </form>

</body>
</html>